* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightseagreen;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: grid;
    place-items: center;
}

img {
    width: 120px;
    height: 120px;
}

.container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drag-box {
    width: 370px;
    height: 370px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    justify-content: space-between;
    align-items: center;
}

.drop-box {
    width: 362px;
    height: 362px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
}
[class*=drop-img]{
    border: 1px solid black;
    width: 120px;
    height: 120px;
    display: grid;
    place-items: center;
}
[class*=drag-img]{
    border: 1px solid black;
    width: 120px;
    height: 120px;
    display: grid;
    place-items: center;
}
.buttons{
    display: flex;
    flex-direction: column;
}
button{
    width: 100px;
    height:40px;
    border-radius: 12px;
    background-color: orange;
    font-size:18px;
    margin-bottom:10px;
}
#nextLevel{
    display: none;
}